In [1]:
import duckdb

con = duckdb.connect("argo.db")

print(con.execute("""SELECT DISTINCT PLATFORM_ID FROM ARGO2023_SLIM ORDER BY PLATFORM_ID LIMIT 10""").fetchdf())

con.close()

CatalogException: Catalog Error: Table with name ARGO2023_SLIM does not exist!
Did you mean "duckdb_logs"?

LINE 1: SELECT DISTINCT PLATFORM_ID FROM ARGO2023_SLIM ORDER BY PLATFORM_ID LIMIT 10
                                         ^

In [5]:
import duckdb

con = duckdb.connect("argo.db")

print(con.execute("""SELECT * FROM ARGO2023_SLIM where platform_id != 1901443 ORDER BY PLATFORM_ID LIMIT 10""").fetchdf())

con.close()

   platform_id                      date    lat     lon  depth_m  temp_c  \
0      1901514 2023-01-08 06:57:15+05:30  1.628  44.639      0.0  25.669
1      1901514 2023-01-19 00:57:19+05:30  1.608  44.641      0.0  26.155
2      1901514 2023-02-20 06:57:13+05:30  1.625  44.639      0.0  23.419
3      1901514 2023-02-20 06:57:13+05:30  1.625  44.639      0.0  23.404
4      1901514 2023-03-03 00:57:11+05:30  1.671  44.579      0.0  26.434
5      1901514 2023-03-03 00:57:11+05:30  1.671  44.579      0.0  26.418
6      1901514 2023-04-15 00:57:00+05:30  1.628  44.646      0.0  28.686
7      1901514 2023-04-15 00:57:00+05:30  1.628  44.646      0.0  28.703
8      1901514 2023-05-28 00:56:54+05:30  1.624  44.639      0.0  26.967
9      1901514 2023-05-28 00:56:54+05:30  1.624  44.639      0.0  26.955

   sal_psu  pres_qc  temp_qc  psal_qc
0    0.023        4        4        4
1    0.124        4        4        4
2    0.013        4        4        4
3    0.013        4        4        4
4    0.013        4        4        4
5    0.013        4        4        4
6    0.000        4        4        4
7    0.000        4        4        4
8    0.013        4        4        4
9    0.013        4        4        4

In [6]:
import duckdb

con = duckdb.connect("argo.db")

print(con.execute("""
SELECT DISTINCT 
    platform_id, 
    date, 
    lat, 
    lon
FROM argo2023_slim;""").fetchdf())

con.close()

        platform_id                      date        lat         lon
0           1902045 2023-01-31 20:15:50+05:30 -40.876950  110.343050
1           1902045 2023-07-09 07:01:06+05:30 -40.172420  107.185500
2           1902046 2023-07-30 07:04:54+05:30 -41.124010   49.901250
3           1902046 2023-08-19 02:45:33+05:30 -38.497160   51.927050
4           1902046 2023-08-29 00:45:58+05:30 -38.588530   52.751750
...             ...                       ...        ...         ...
170834      4902662 2023-11-10 11:37:00+05:30  49.079155 -127.469780
170835      4902663 2023-10-23 11:42:00+05:30  48.685383 -127.726387
170836      4902670 2023-07-26 12:45:00+05:30  60.514328  -54.206314
170837      4902670 2023-11-26 00:45:00+05:30  58.685802  -54.453861
170838      4902670 2023-12-06 05:34:00+05:30  58.375793  -54.328617

[170839 rows x 4 columns]

In [ ]:
# delete from argo2023_raw where lat = double precision 'NaN' or lon = double precision 'NaN';

In [1]:
import duckdb

con = duckdb.connect("../../LOCAL/Resources/argo.db")
query1 = "SELECT AVG(temp_c) AS avg_temp_c FROM argo2023 WHERE region_name ILIKE 'Arabian Sea' AND temp_c IS NOT NULL;"
query2 = "Describe argo2023;"
query3 = "select sal_psu from argo2023 WHERE region_name ILIKE 'Arabian Sea' and sal_psu is not null and not isnan(sal_psu) order by temp_c asc;"
query4 = """SELECT date, depth_m, temp_c, sal_psu
            FROM argo.argo2023
            WHERE platform_id = 5906080
            ORDER BY date, depth_m;"""
query5 = "SHOW TABLES"

print(con.execute(query5).fetch_df())
print(con.execute("DROP SEQUENCE message_id_seq").fetchdf())
print(con.execute("drop table messages").fetchdf())
print(con.execute("drop table sessions").fetchdf())
con.close()

                        name
0                   argo2023
1  argo2023_positions_region
2   distinct_float_positions
3     latest_float_positions
4                   messages
5                   sessions
6          world_seas_iho_v3
Empty DataFrame
Columns: [Success]
Index: []
Empty DataFrame
Columns: [Success]
Index: []
Empty DataFrame
Columns: [Success]
Index: []